{% extends "new_layout.html" %}

{% block title %}
    Home page
{% endblock %}

{% block main %}

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>Welcome to Stuff Saver</h1>
      <p class="lead">A web-based app that lets you save and store all sort of things you learn</p>
    </div>
  </header>

  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>About Stuff Saver</h2>
          <p class="lead">If you are curious like me, chances are you learn tons of stuff everyday.
            Whether it is a new word or expression you come across while you're listening to your favorite
            podcast or reading the news, a video on YouTube you find extremely useful,
            or that grammar/spelling rule you should never forget. And yet, in a month or two,
            you're probably not going to remember all of this. That's where Stuff Saver comes in handy!</p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>How it works</h2>
          <p class="lead">Create a new account by clicking on Register on the top right corner.
              Once you are logged in, add some stuff in the Add new section.
              Click on the dropdown Choose a category and either add some New Content or add stuff to a category
              you previously created.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Check your stuff in the Summary page</h2>
          <p class="lead">Everything you added is in the Summary page.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}